<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipes</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="dashboard">
      <div class="container pt-3">
        <nav class="navbar row transparent">
          <h1>Welcome {{ user.user_name }}</h1>
          <a href="/logout" class="btn btn-md btn-secondary text-right"
            >Logout</a
          >
        </nav>
        <div class="jumbotron mt-3 transparent">
          <h4>
            This is a social network where users can share their favorite
            recipes.
          </h4>
          <h5>
            There are currently {{ all_recipes }} {% if all_recipes > 1
            %}recipes {% else %} recipe {% endif %}.
          </h5>
          <h5>
            You have contributed {{ user_recipes }} {% if user_recipes > 1
            %}recipes {% else %} recipe {% endif %}.
          </h5>
        </div>
        <div class="container row m-auto">
          <div class="card col-md-4 m-2 slide_up m-auto">
            <div class="card-body">
              <h3 class="card-title bg-info text-white text-center">Create</h3>
              <a href="/create">Click here to create a new recipe</a>
            </div>
          </div>
          <div class="card col-md-4 m-2 slide_up m-auto">
            <div class="card-body">
              <h3 class="card-title bg-warning text-white text-center">
                Your recipes
              </h3>
              <a href="/review">Click here to view your recipes</a>
            </div>
          </div>
          <div class="card col-md-4 m-2 slide_up m-auto">
            <div class="card-body">
              <h3 class="card-title bg-primary text-white text-center">
                All recipes
              </h3>
              <a href="/all_recipes">Click here to view all users' recipes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
