<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipes</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="/static/index.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="instructions pb-5">
      <div class="container pt-3">
        <nav class="navbar row transparent">
          <h1>Welcome {{ user.user_name }}</h1>
          <div class="text-right row">
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <a href="/create" class="nav-link">Create</a>
            <a href="/logout" class="nav-link">Logout</a>
          </div>
        </nav>
        <div class="container">
          <div class="card card col-md-10 m-2 recipe-instruction">
            <div class="card-body">
              <div id="likedMsg"></div>
              <div class="row">
                <h3 class="card-title mr-5">View recipe</h3>
                {% if recipe.author_id != user.id %} {% if been_liked %}
                <form
                  id="unlikeForm"
                  action="/unlike"
                  method="POST"
                  class="d-inline mt-0"
                >
                  <input
                    type="text"
                    name="recipe_id"
                    value="{{ recipe.id }}"
                    class="unlike_input"
                  />
                  <button
                    type="submit"
                    class="btn btn-sm btn-warning"
                    id="unliked"
                  >
                    Unlike
                  </button>
                </form>
                {% else %}
                <form
                  id="likeForm"
                  action="/like"
                  method="POST"
                  class="d-inline mt-0"
                >
                  <input
                    type="text"
                    name="recipe_id"
                    value="{{ recipe.id }}"
                    class="like_input"
                  />
                  <button type="submit" class="btn btn-sm btn-info" id="liked">
                    Like
                  </button>
                </form>

                {% endif %} {% else %}
                <div class="d-inline mt-0">
                  <a
                    href="{{ recipe.id }}/delete"
                    class="btn btn-sm btn-danger mb-0"
                    >Delete</a
                  >
                </div>
                {% endif %}
              </div>
              <div class="row">
                <p class="col-md-5">
                  <strong>Recipe Name:</strong> {{ recipe.name }}
                </p>
                <p class="text-primary">{{ liked_recipes | length }} likes</p>
              </div>
              <div>
                <p><strong>Description:</strong> {{ recipe.description }}</p>
              </div>
              <div>
                <p><strong>Instructions:</strong></p>
                <ol>
                  {% for step in recipe.instructions.split(".") %}
                  <li>{{ step }}</li>
                  {% endfor %}
                </ol>
              </div>
              <div>
                <p>
                  <strong>Under 30 minutes to prepare?</strong>
                  {{ recipe.under30 }}
                </p>
              </div>
              <a href="/review" class="btn btn-sm btn-secondary" type="submit">
                Your Recipes
              </a>
              <a
                href="/all_recipes"
                class="btn btn-sm btn-secondary"
                type="submit"
              >
                All Recipes
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
