<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipes</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <script type="text/javascript" src="/static/index.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="landingpage">
      <div class="nav pt-2 transparent">
        <h2 class="col-md-5">Welcome</h2>
        <div class="col-md-7">
          <form action="/login" method="POST" class="row">
            <div class="col-md-5 d-inline">
              <div class="row">
                <label class="col-md-5" for="login_username">User Name: </label>
                <input
                  type="text"
                  name="user_name"
                  class="form-control col-md-7"
                  id="login_username"
                />
              </div>
            </div>
            <div class="col-md-5 d-inline">
              <div class="row">
                <label class="col-md-4" for="login_pw">Password: </label>
                <input
                  type="password"
                  name="password"
                  class="form-control col-md-7"
                  id="login_pw"
                />
              </div>
            </div>
            <button class="btn btn-md btn-primary">SIGN IN</button>
          </form>
          {% with error = get_flashed_messages(category_filter=['login error'])
          %} {% if error %}
          <p class="badge badge-danger">{{ error[0] }}</p>
          {% endif %} {% endwith %}
        </div>
      </div>
      <div class="container mt-3">
        <div class="row">
          <div class="col-md-4 m-5 transparent">
            <h2 class="card-title pt-2">Register</h2>

            <hr />
            {% with success = get_flashed_messages(category_filter=['success'])
            %} {% if success %}
            <p class="badge badge-success">{{ success[0] }}</p>
            {% endif %} {% endwith %} {% with errors =
            get_flashed_messages(category_filter=["errors"]) %} {% if errors %}
            <div>
              {%- for msg in errors %}
              <div>
                <p class="badge badge-danger">{{ msg }}</p>
              </div>

              {% endfor -%}
            </div>
            {% endif %} {% endwith %}
            <form
              action="/register"
              method="POST"
              id="signupForm"
              class="card-body"
            >
              <div id="usernameMsg"></div>
              <div class="form-group">
                <label for="username">User Name:</label>
                <input
                  type="text"
                  name="user_name"
                  class="form-control"
                  id="username"
                />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                />
              </div>
              <div class="form-group">
                <label for="location">Dojo Location:</label>
                <select name="location" id="location" class="custom-select">
                  <option value="chicago">Chicago</option>
                  <option value="los angeles">Los Angeles</option>
                  <option value="new york">New York</option>
                  <option value="san francisco">San Francisco</option>
                  <option value="seattle">Seattle</option>
                </select>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                />
                <small
                  >*Must be at least 5 characters and contain at least a number
                  and special character, upper and lowercase</small
                >
              </div>
              <div class="form-group">
                <label for="confirm_pw">Confirm Password:</label>
                <input
                  type="password"
                  name="confirm_password"
                  class="form-control"
                  id="confirm_pw"
                />
              </div>
              <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <input
                  type="date"
                  name="birthdate"
                  min="1939-12-31"
                  class="form-control"
                  id="birthdate"
                />
              </div>
              <button class="btn btn-md btn-primary">REGISTER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
