<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Review</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>

    <script type="text/javascript" src="/static/index.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="review">
      <div class="container pt-3">
        <nav class="navbar row transparent  ">
          <h1>Welcome {{ user.user_name }}</h1>
          <div class="text-right row">
            <a href="/dashboard" class="nav-link">Dashboard</a>
            <a href="/all_recipes" class="nav-link">All Recipes</a>
            <a href="/logout" class="nav-link">Logout</a>
          </div>
        </nav>
        <div class="container">
          <div class="row">
            <div class="col-md-2 mt-5 recipe-tab">
              <h6 class="pill-select active" id="created-tab">
                Created by You
              </h6>
              <h6 class="pill-select" id="liked-tab">Liked by You</h6>
            </div>
            <div class="col-md-10">
              <div
                class="container bg-white text-black mt-5 p-3 appear"
                id="created_recipe"
              >
                <h4>These are recipes created by you.</h4>
                <a href="/create" class="btn btn-md btn-info m-3">Create New</a>
                <table class="table">
                  <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Under 30 minutes?</th>
                    <th>Actions</th>
                  </thead>
                  {% for recipe in recipes %} {% if recipe.author_id == user.id
                  %}
                  <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.under30 }}</td>
                    <td>
                      <a
                        href="/instruction/{{ recipe.id }}"
                        class="btn btn-sm btn-primary"
                        >View Instruction</a
                      >
                    </td>
                  </tr>
                  {% endif %} {% endfor %}
                </table>

                {% if not user.recipes %}
                <p>
                  You currently do not have any recipes. Click
                  <a href="/create">here</a> to create one.
                </p>
                {% endif %}
              </div>
              <div
                class="container bg-white text-black mt-5 p-3 appear"
                id="liked_recipe"
              >
                <h4>These are recipes liked by you.</h4>
                <a href="/create" class="btn btn-md btn-info m-3">Create New</a>
                <table class="table">
                  <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Under 30 minutes?</th>
                    <th>Shared by</th>
                    <th>Actions</th>
                  </thead>
                  {% for recipe in user.recipes_this_user_likes %}
                  <tr>
                    <td>{{ recipe.name }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.under30 }}</td>
                    <td>{{ recipe.author.user_name }}</td>
                    <td>
                      <a
                        href="/instruction/{{ recipe.id }}"
                        class="btn btn-sm btn-primary"
                        >View Instruction</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </table>

                {% if not user.recipes_this_user_likes %}
                <p>
                  You have not liked any recipes. Click
                  <a href="/all_recipes">here</a> to check out all recipes.
                </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
